@import "tailwindcss";
/* @import "../styles/main.css"; */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

/* Container for sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}